    <div class="stats shadow">
        <div class="stat place-items-center">
            <div class="stat-title">Bakiye</div>
            <div class="stat-value text-amber-400">{{ apartment.total_balance }}</div>
        
        </div>

        <div class="stat place-items-center">
            <div class="stat-title">Odenen</div>
            <div class="stat-value text-emerald-400">{{ apartment.total_payment }}</div>

        </div>

        <div class="stat place-items-center">
            <div class="stat-title">Borc</div>
            <div class="stat-value text-red-400">{{ apartment.total_debt }}</div>

        </div>
    </div>