{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center justify-center mb-4 md:mb-8 w-full">

    <div id="total_stat" class="w-full">{% include "partials/total.html" %}</div>
    
</div>  

<div class="w-full items-end px-2">
        <h2 class="text-xl md:text-2xl font-semibold mb-4">İşlemler</h2>
        <div class=" w-full justify-between flex">
            <button class="btn btn-accent btn-sm md:btn-md mb-4" 
            hx-get="{% url 'main:htmx_transaction_create' apartment_number=apartment.number transaction_type='debt' %}" 
            hx-target="body" 
            hx-swap="beforeend">Yeni Borç</button>
            <button class="btn btn-primary btn-sm md:btn-md mb-4" 
            hx-get="{% url 'main:htmx_transaction_create' apartment_number=apartment.number transaction_type='payment' %}" 
            hx-target="body" 
            hx-swap="beforeend">Yeni Ödeme</button>
        </div>
 </div>       
<div id="transaction_table">{% include "partials/transaction_table.html" %}</div>





{% endblock content %}