{% extends "base.html" %}
{% block content %}




{% for blok in blok_list %}
<details class="collapse bg-base-100 border-base-300 border">
  <summary class="collapse-title font-semibold">
   <button class="btn btn-info ">{{ blok }}</button>
  </summary>

<div class="grid grid-cols-5 lg:grid-cols-10 m-2 gap-2">

    {% for number in number_list %}
    <button class="btn btn-soft btn-info ">{{ blok }}{{ number }}</button>
    {% endfor %}
</div>


</details>

{% endfor %}

{% endblock content %}


