{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-5">
    <h1>Ödeme Bekleyenler</h1>
    
    <div class="overflow-x-auto w-full">
        <table class="table table-zebra w-full text-xs sm:text-sm md:text-base">
            <thead>
                <tr>
                    <th>Apartman</th>
                    <th class="text-right">Ödenecek</th>


                </tr>            </thead>
            <tbody>
                {% for account in apartments %}
                
                <tr>
                    <td>{{ account.number }}</td>
                    <td class="text-right"><a href="{% url 'main:apartment_detail' account.number %}">{{ account.calc_balance|floatformat:2|intcomma }}</a></td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>            
</div>
</div>
{% endblock %}